<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/van.js"></script>
  </head>
  <body>
    <%- include("../partials/nav.ejs"); %>
    <a href="/van">Vans</a>
    <br>
    <form onsubmit="event.preventDefault()" id="form">
      <label for="">Brand:</label>
      <input type="text" name="brand" value="<%= van.brand %>">
      <label for="">Model:</label>
      <input type="text" name="model" value="<%= van.model %>">
      <label for="">Registered:</label> 
      <input type="text" name="registered" value="<%= van.registered %>">
      <label for="">Year:</label> 
      <input type="number" name="year" value="<%= van.year %>">
      <label for=""> Horse Power:</label> 
      <input type="number" name="horsePower" value="<%= van.horsePower %>">
      <label for=""> payload(kg):</label> 
      <input type="number" name="payload" value="<%= van.payload %>">
      <button onclick="updateVan(`<%= van._id %>`);">Update</button>
    </form>
    <%- include("../partials/footer.ejs"); %>
</body>
</html>
