<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/van.js"></script>
  </head>
  <body>
    <%- include("../partials/nav.ejs"); %>
    <a class="create" href="/">Home</a>
    <a class="create" href="/van/create">Create new van</a>
    <h2>Table of vans</h2>
    
      
       <div class="header">
         <p>Brand</p>
         <p>Model</p>
         <p>Registered</p>
         <p>Year </p>
         <p>Horse Power</p>
         <p>Payload(kg)</p>
       </div>
      
     
    <table>
     <% vans.forEach(van => { %>
      <tr class="row">
        <td ><%= van.brand %></td>
        <td><%= van.model %></td>
        <td><%= van.registered %></td>
        <td><%= van.year %></td>
        <td><%= van.horsePower %></td>
        <td><%= van.payload %></td>
        <td class="noborder"><a class="green" href="/van/<%= van._id %>/view">View</a></td>
        <td class="noborder"><a href="/van/<%= van._id %>/edit">Edit</a></td>
        <td class="noborder"><button class="danger" onclick="deleteVan(`<%= van._id %>`);">Delete</button></td>
      </tr>
     <% }) %>
    </table>
    <%- include("../partials/footer.ejs"); %>
  </body>
</html>
