<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("../partials/nav.ejs"); %>
    <a class="create" href="/truck">Trucks</a>
    <h2>Viewing truck with id #<%= truck._id %></h2>
    

    <div class="header">
      <p>Brand</p>
      <p>Model</p>
      <p>Type</p>
      <p>Year </p>
      <p>Horse Power</p>
      <p>Payload(kg)</p>
    </div>
   
  
 <table>
 
   <tr class="row">
     <td ><%= truck.brand %></td>
     <td><%= truck.model %></td>
     <td><%= truck.type %></td>
     <td><%= truck.year %></td>
     <td><%= truck.horsePower %></td>
     <td><%= truck.payload%></td>
   </tr>
  
 </table>
 <%- include("../partials/footer.ejs"); %>
  </body>
</html>
